
<table class="flexible generaltable">
    <tr><th>capability</th><th>newpermission</th><th>roleid</th><th>contextid</th></tr>
{{#caps}}
    <tr>
        <td>{{capability}}</td>
        <td>{{newpermission}}</td>
        <td>{{roleid}}</td>
        <td>{{contextid}}</td>
    </tr>
{{/caps}}
</table>
